<!-- Page Container -->
<div class="container ms-2">
  <!-- Elements Container -->
  <div
    class="container flex align-top mb-1 border rounded-xl border-e-0"
    style="
      border-color: white;
      background-color: white;
      max-height: 94px;
      min-height: 94px;
    "
  >
    <!-- Title Element -->

    <app-page-header [title]="'PAO Profile'"></app-page-header>
  </div>

  <!-- Page Elements Go Here -->
  <div class="container rounded-t-xl bg-white mt-5" style="height: 740px">
    <div class="grid grid-cols-12">
      <!-- Profile Picture w/ Profile Info -->
      <div class="col-span-9">
        <div class="grid grid-rows-6">
          <div class="row-span-2">
            <!-- User Card Profile Picture Container -->
            <div class="container h-1/4 m-6 ml-10">
              <img
                class="rounded-full mx-5 mt-4"
                alt="avatar1"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                style="max-height: 175px; max-width: 175x"
              />
            </div>
          </div>
          <div class="row-span-4">
            <!-- User Card Profile Information -->
            <div class="container w-full h-14 bg-neutral-100 flex items-center">
              <div class="ml-14">
                <span> Name: </span>
              </div>
            </div>
            <div class="container w-full h-14 flex items-center">
              <div class="ml-14">
                <span>License: </span>
              </div>
            </div>
            <div class="container w-full h-14 bg-neutral-100 flex items-center">
              <div class="ml-14">
                <span>Date Enrolled: </span>
              </div>
            </div>
            <div class="container w-full h-14 flex items-center">
              <div class="ml-14">
                <span>Date of Employment: </span>
              </div>
            </div>
            <div class="container w-full h-14 bg-neutral-100 flex items-center">
              <div class="ml-14">
                <span> Employment Status: </span>
              </div>
            </div>
            <div class="container w-full h-14 flex items-center">
              <div class="ml-14">
                <span>No. of Violations: </span>
              </div>
            </div>
            <div class="container w-full h-14 bg-neutral-100 flex items-center">
              <div class="ml-14">
                <span>Remarks: </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- List of PAO/Driver -->
      <div class="col-span-3">
        <div
          class="container h-24 bg-neutral-100 mt-4 shadow-lg flex items-center"
        >
          <div class="ml-4">
            <span>List of PAO</span>
          </div>
        </div>

        <!-- Side Container -->
        <div
          class="container mt-2"
          style="background-color: #d9d9d9; height: 620px"
        >
          <div
            class="container h-20 flex items-center"
            style="background-color: #e8e8e8"
          >
            <div class="ml-4">
              <span>Sam Alforque</span>
              <p style="font-size: 9px">0 Violations</p>
            </div>
          </div>
          <div class="container h-20 flex items-center">
            <div class="ml-4">
              <span>Kian Mantua</span>
              <p style="font-size: 9px">2 Violations</p>
            </div>
          </div>
          <div
            class="container h-20 flex items-center"
            style="background-color: #e8e8e8"
          >
            <div class="ml-4">
              <span>Alfie Boro</span>
              <p style="font-size: 9px">7 Violations</p>
            </div>
          </div>
          <div class="container h-20 flex items-center">
            <div class="ml-4">
              <span>Sam Alforque</span>
              <p style="font-size: 9px">0 Violations</p>
            </div>
          </div>
          <div
            class="container h-20 flex items-center"
            style="background-color: #e8e8e8"
          >
            <div class="ml-4">
              <span>Sam Alforque</span>
              <p style="font-size: 9px">0 Violations</p>
            </div>
          </div>
          <div class="container h-20 flex items-center">
            <div class="ml-4">
              <span>Sam Alforque</span>
              <p style="font-size: 9px">0 Violations</p>
            </div>
          </div>
          <div
            class="container h-20 flex items-center"
            style="background-color: #e8e8e8"
          >
            <div class="ml-4">
              <span>Sam Alforque</span>
              <p style="font-size: 9px">0 Violations</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
