<!-- Page Container -->
<div class="container ms-2">
  <!-- Elements Container -->
  <div class="container flex align-top">
    <!-- Title Element -->
    <div
      class="container mb-1 border rounded-xl flex border-e-0"
      style="
        border-color: white;
        background-color: white;
        max-height: 94px;
        min-height: 94px;
      "
    >
      <span class="text-4xl pt-5 ps-5">Dashboard</span>
    </div>
  </div>

  <!-- Summary Element   -->
  <app-summary></app-summary>
  <!-- Chart Element -->
  <app-chart></app-chart>
  <!-- Table Element -->
  <app-table></app-table>
</div>
