<!-- <div
  class="container mt-2 border py-3"
  style="border-color: white; background-color: white; max-height: 160px"
>
  <div
    class="container mx-8 border-t border-b w-auto"
    style="border-color: black; max-height: 130px"
  >
    <div class="flex flex-row">
      <div
        class="container my-2 border-e-2 ps-3 py-3"
        style="max-height: 110px"
      >
        <div class="flex flex-col justify-start">
          <p class="text-xs font-bold">No. of Transport Operators</p>
          <p class="text-5xl">{{ TOcount }}</p>
          <p class="text-xs text-slate-700">Cebu, City</p>
        </div>
      </div>
      <div class="container my-2 border-e-2" style="max-height: 110px">
        <div class="pl-5 flex flex-col justify-start align-middle py-3">
          <p class="text-xs font-bold">No. of Jeepneys</p>
          <p class="text-5xl">{{ jeepCount }}</p>
          <p class="text-xs text-slate-700">Cebu, City</p>
        </div>
      </div>
      <div class="container my-2 border-e-2" style="max-height: 110px">
        <div class="pl-5 flex flex-col justify-start align-middle py-3">
          <p class="text-xs font-bold">No. of PAO</p>
          <p class="text-5xl">{{ paoCount }}</p>
          <p class="text-xs text-slate-700">Cebu, City</p>
        </div>
      </div>
      <div class="container my-2 border-e-2" style="max-height: 110px">
        <div class="pl-5 flex flex-col justify-start align-middle py-3">
          <p class="text-xs font-bold">No. of Drivers</p>
          <p class="text-5xl">{{ driverCount }}</p>
          <p class="text-xs text-slate-700">Cebu, City</p>
        </div>
      </div>
      <div class="container my-2" style="max-height: 110px"></div>
    </div>
  </div>
</div> -->

<div class="container mt-2 border py-3 bg-white max-h-40">
  <div class="container mx-8 border-t border-b w-auto max-h-32">
    <div class="flex flex-row">
      <ng-container *ngFor="let item of summaryItems">
        <div class="container my-2 border-e-2 ps-3 py-3 max-h-28">
          <div class="flex flex-col justify-start">
            <p class="text-xs font-bold">{{ item.title }}</p>
            <p class="text-5xl">{{ item.count }}</p>
            <p class="text-xs text-slate-700">Cebu, City</p>
          </div>
        </div>
      </ng-container>
      <div class="container my-2 max-h-28"></div>
    </div>
  </div>
</div>
