<div
  class="bg-neutral-100 flex flex-col items-center px-16 py-7 max-md:px-5"
  style="min-height: 100vh"
>
  <img
    loading="lazy"
    srcset="..."
    class="aspect-[2.41] object-contain object-center w-[227.5px] overflow-hidden max-w-full mt-14 self-start max-md:mt-7"
  />

  <div class="input-container">
    <input
      type="text"
      placeholder="Email"
      class="input-field text-black text-xl bg-zinc-100 self-center w-[600px] max-w-full mt-4 px-10 py-8 rounded-xl max-md:px-3.5 border border-black"
    />
    <i class="icon" style="top: 58.5%">
      <fa-icon
        [icon]="faEnvelope"
        class="fa-2x"
        style="color: #8f8f8f"
      ></fa-icon>
    </i>
  </div>

  <div class="input-container">
    <input
      type="text"
      placeholder="SPIN"
      class="input-field my-1 text-black text-xl bg-zinc-100 self-center w-[600px] max-w-full mt-4 px-10 py-8 rounded-xl max-md:px-3.5 border border-black"
    />
    <i class="icon" style="top: 54%">
      <fa-icon [icon]="faKey" class="fa-2x" style="color: #8f8f8f"></fa-icon>
    </i>
  </div>

  <div class="input-container">
    <input
      type="password"
      placeholder="Password"
      class="input-field my-2 text-black text-xl bg-zinc-100 self-center w-[600px] max-w-full mt-4 px-10 py-8 rounded-xl max-md:px-3.5 border border-black"
    />
    <i class="icon" style="top: 51%">
      <fa-icon [icon]="faLock" class="fa-2x" style="color: #8f8f8f"></fa-icon>
    </i>
  </div>

  <div
    class="text-violet-700 text-base font-bold mt-3.5 max-md:mr-1.75 self-center w-[462px] max-w-full flex justify-end"
  >
    <span> Forgot Password? </span>
  </div>
  <div
    class="bg-blue-700 flex w-[600px] max-w-full mt-11 py-7 px-14 rounded-xl max-md:mt-7 max-md:px-3.5 justify-center cursor-pointer"
    style="user-select: none"
  >
    <span
      class="text-white text-center text-xl font-bold self-center whitespace-nowrap"
      >Log In</span
    >
  </div>
  <div class="text-blue-600 text-lg self-center mt-3.5 mb-33.6 max-md:mb-7">
    <span class="text-neutral-500">Registering a transport? </span>
    <span class="text-blue-600">Click here</span>
  </div>
</div>
