<!-- Main Container -->
<div class="bg-white h-max rounded-t-xl p-6">
  <!-- Header -->
  <div class="mb-4 border-b-2 border-cyan-500 grid grid-rows-2">
    <div class="row-span-6 flex justify-end mb-2">Filter</div>
    <div class="row-span-6 flex justify-start mb-2">Bulletin</div>
  </div>

  <!-- Body -->
  <div class="overflow-y-auto" style="height: 530px">
    <!-- Card -->
    <div class="border-b-2 p-6" *ngFor="let value of cardValue">
      <div class="grid grid-cols-12">
        <div class="col-span-2">{{ value["Department"] }}</div>
        <div class="col-span-8">
          <span class="font-bold"> {{ value["Department"] }} </span> posted on
          <span class="font-bold">{{ value["Message_Location"] }}</span
          >.
          {{ value["Message"] }}
        </div>
        <div class="col-span-2">Pin/Unpin</div>
      </div>
    </div>
  </div>
</div>
