<div class="container mt-10 px-10" style="height: 720px">
  <!-- Header Group -->
  <div class="grid grid-cols-6 justify-around">
    <div class="row-span-6"></div>
    <div class="row-span-6 text-center">Date Enrolled</div>
    <div class="row-span-6 text-center">Jeepney Count</div>
    <div class="row-span-6 text-center">Driver Count</div>
    <div class="row-span-6 text-center">PAO Count</div>
    <div class="row-span-6 text-center">Status</div>
  </div>
  <!-- Content Group -->
  <div class="container overflow-y-auto" style="height: 700px">
    <div
      class="container my-5 cursor-pointer"
      *ngFor="let value of cardValue"
      (click)="onClick(value['Operator_ID'])"
    >
      <div
        class="grid grid-cols-6 justify-around border border-white bg-white rounded-lg h-28"
      >
        <div class="row-span-6 flex align-middle p-2">
          <!-- Content Container -->
          <div class="container border-r-4 border-x-cyan-400 content-between">
            <div class="flex flex-col content-around">
              <div>
                <span>{{ value["Operator_Name"] }}</span>
              </div>
              <div>
                <div>
                  <span class="text-xs"
                    >PAO • {{ value["PAO_Count"] }} Personnel</span
                  >
                </div>
                <div>
                  <span class="text-xs"
                    >Driver • {{ value["Driver_Count"] }} Personnel</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-span-6 flex flex-col justify-center">
          <div class="container text-center">
            {{ value["Date_Enrolled"] }}
          </div>
        </div>
        <div class="row-span-6 flex flex-col justify-center">
          <div class="container text-center">
            {{ value["Jeepney_Count"] }}
          </div>
        </div>
        <div class="row-span-6 flex flex-col justify-center">
          <div class="container text-center">
            {{ value["Driver_Count"] }}
          </div>
        </div>
        <div class="row-span-6 flex flex-col justify-center">
          <div class="container text-center">
            {{ value["PAO_Count"] }}
          </div>
        </div>
        <div class="row-span-6 flex flex-col justify-center">
          <div class="container flex justify-center">
            <span
              class="float-right rounded-md bg-green-600/50 px-4 py-px text-xs font-semibold uppercase text-green-900 antialiased"
            >
              {{ value["Status"] }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
