<app-page-header [title]="tableName"></app-page-header>

<div class="mt-3 bg-white rounded-t-lg">
  <!-- Search bar container -->
  <div class="p-5 pb-0">
    <div class="grid grid-cols-12">
      <div class="col-span-6 border-b-2">
        <app-search></app-search>
      </div>
    </div>
  </div>
  <!-- Filter Container -->
  <div class="p-1">
    <div class="grid grid-cols-5">
      <div class="border-e-2">Violation</div>
      <div class="border-e-2">No. of Violation</div>
      <div class="border-e-2">Date Enrolled</div>
      <div class="border-e-2">Employment Status</div>
      <div class="border-e-2"></div>
    </div>
  </div>
  <!-- Table Container -->

  <div class="container">
    <!-- Headers -->
    <div class="grid grid-cols-7 font-bold text-center mb-0">
      <div class="p-4">Name</div>
      <div class="p-4">License</div>
      <div class="p-4">Date Enrolled</div>
      <div class="p-4">Date of Employment</div>
      <div class="p-4">Employment Status</div>
      <div class="p-4">No. of Violations</div>
      <div class="p-4">Remarks</div>
    </div>
    <!-- Body -->
    <div
      class="container overflow-auto"
      style="min-height: 575px; max-height: 575px"
    >
      <div
        class="grid grid-cols-7 mb-4 odd:bg-gray-200 even:bg-white text-center cursor-pointer"
        *ngFor="let data of table"
        (click)="onClick(data['ID'], data['ID_Type'])"
      >
        <div class="p-4" style="color: #2a5bfb">{{ data.Name }}</div>
        <div class="p-4">{{ data.License }}</div>
        <div class="p-4">{{ data.Date_Enrolled }}</div>
        <div class="p-4">{{ data.Date_Of_Employment }}</div>
        <div class="p-4">{{ data.Employment_Status }}</div>
        <div class="p-4">{{ data.Violations }}</div>
        <div class="p-4" style="color: #2a5bfb">{{ data.Remarks }}</div>
      </div>
    </div>
  </div>
</div>
